#!/bin/bash

DESC="bika REST web server "
SERVICE_DIR=DUMMY_SERVICE_DIR
PID_FILE_READ=DUMMY_PID_FILE_READ
PID_FILE_WRITE=DUMMY_PID_FILE_WRITE
LOG_FILE_READ=DUMMY_LOG_FILE_READ
LOG_FILE_WRITE=DUMMY_LOG_FILE_WRITE
NAME=bika_service.py
DAEMON=$SERVICE_DIR/$NAME
HOST=DUMMY_HOST
PORT_READ=DUMMY_PORT_READ
PORT_WRITE=DUMMY_PORT_WRITE
SERVER_READ=DUMMY_SERVER_READ
SERVER_WRITE=DUMMY_SERVER_WRITE

DAEMON_ARGS_READ=" --host $HOST --port $PORT_READ --server $SERVER_READ --pid-file $PID_FILE_READ --log-file $LOG_FILE_READ"
DAEMON_ARGS_WRITE=" --host $HOST --port $PORT_WRITE --server $SERVER_WRITE --pid-file $PID_FILE_WRITE --log-file $LOG_FILE_WRITE"

SCRIPTNAME_READ=/etc/init.d/penelope_read_service
SCRIPTNAME_WRITE=/etc/init.d/penelope_write_service
