#!/bin/bash

DESC="bika REST web server "
SERVICE_DIR=DUMMY_SERVICE_DIR
PID_FILE_READ=DUMMY_PID_FILE_READ
PID_FILE_WRITE=DUMMY_PID_FILE_WRITE
LOG_FILE_READ=DUMMY_LOG_FILE_READ
LOG_FILE_WRITE=DUMMY_LOG_FILE_WRITE
LOG_HOST=DUMMY_LOG_HOST
LOG_PORT=DUMMY_LOG_PORT

NAME=bika_service.py
DAEMON=$SERVICE_DIR/$NAME
HOST=DUMMY_HOST
PORT_READ=DUMMY_PORT_READ
PORT_WRITE=DUMMY_PORT_WRITE
SERVER_READ=DUMMY_SERVER_READ
SERVER_WRITE=DUMMY_SERVER_WRITE

DAEMON_ARGS_READ=" --host $HOST --port $PORT_READ --server $SERVER_READ --pid-file $PID_FILE_READ --log-file $LOG_FILE_READ --log-host $LOG_HOST --log-port $LOG_PORT"
DAEMON_ARGS_WRITE=" --host $HOST --port $PORT_WRITE --server $SERVER_WRITE --pid-file $PID_FILE_WRITE --log-file $LOG_FILE_WRITE --log-host $LOG_HOST --log-port $LOG_PORT"

SCRIPTNAME_READ=$SERVICE_DIR/penelope_read_service.sh
SCRIPTNAME_WRITE=$SERVICE_DIR/penelope_write_service.sh
